
# ignore mess2_ws
mess2_ws/build/
mess2_ws/install/
mess2_ws/log/
mess2_ws/src/.vscode/






# ignore vscode
.vscode/

# ignore matlab
mess2_matlab/

# ignore experimental code
mess2_ws/src/mess2_algorithms/src/dijkstra_ugv_line_following_server.cpp