# ignore build directory
/mess2_ws/build
/uav_ws/build
/ugv_ws/build
/vicon_ws/build


# ignore install directory
/mess2_ws/install
/uav_ws/install
/ugv_ws/install
/vicon_ws/install

# ignore log directory
/mess2_ws/log
/uav_ws/log
/ugv_ws/log
/vicon_ws/log